@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-image: url("../images/background.jpg");
}

main{
    display: grid;
    grid-template-areas: 
    "h h h"
    "a a a"
    "f f f";
    font-family: 'Poppins', sans-serif;

}

header{
    grid-area: h;
}

header img{
    width: 100%;
}

article{
    grid-area: a;
    text-align: center;
}

html{
    color: white;
}





















.platforms .availabilities{
    display: grid;
    grid-template-columns: repeat(9,auto);
    margin-top: 40px;
    white-space: nowrap;
}

.platforms h1 span{
    border-bottom: 2px solid white;
    font-size: 40px;
}

.platforms .availabilities .platform a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 5px;
}

.platforms .availabilities .platform a:hover{
    border: 4px solid white;
    transition: 0.2s;
}

.platforms .availabilities .platform{
    padding: 20px 5px;
}




























.milestones{
    margin-top: 40px;
}

.milestones h1 span{
    border-bottom: 2px solid white;
    font-size: 40px;
}

.milestones .awards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.milestones .awards .award{
    background-color: rgb(22, 22, 22);
    margin: 10px;
    border: 2px solid rgb(22, 22, 22);
    border-radius: 5px;
    padding: 15px;
}

.milestones .awards .award:hover{
    background-color: rgb(22, 22, 22);
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
}






















.introduction{
    background-image: url("../images/artback2.jpg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 8%;
    width: 100%;
    font-size: 25px;
}

.introduction h1 span{
    border-bottom: 2px solid white;
}





















.description{
    background-image: url("../images/artback.jpg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10%;
    padding-bottom: 20%;
    width: 100%;
    font-size: 25px;
}

.description h1 span{
    border-bottom: 2px solid white;
}






















.explainfriendly{
    margin-bottom: 40px;
}

.explainfriendly .crews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    font-size: 20px;
}

.explainfriendly .crews .crew img{
    float: left;
    width: 12%;
    margin-right: 15px;
}

.explainfriendly .crews .crew{
    margin: 20px;
}

.explainfriendly h1 span{
    border-bottom: 2px solid white;
    font-size: 30px;
}




















.explainenemy .susys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    font-size: 20px;
}

.explainenemy .susys .sus img{
    float: left;
    width: 12%;
    margin-right: 15px;
}

.explainenemy .susys .sus{
    margin: 20px;
}

.explainenemy h1 span{
    border-bottom: 2px solid white;
    font-size: 30px;
}























.places h1 span{
    border-bottom: 2px solid white;
    font-size: 30px;
}

.places .rooms .room h2 span{
    border-bottom: 2px solid white;
    font-size: 25px;
}

.places .rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.places .rooms .room img{
    display: inline;
    max-width: 400px;
    width: 100%;
}

















footer{
    grid-area: f;
    text-align: center;
}

footer img{
    margin: 0;
    width: 50%;
}

footer p{
    width: 80%;
    margin: auto;
    font-size: 20px;
}























/* képernyő hossz különbség */
@media only screen and (max-width: 1250px) {
    .platforms .availabilities{
        grid-template-columns: repeat(8,auto);
    }

}

@media only screen and (max-width: 1100px) {
    .platforms .availabilities{
        grid-template-columns: repeat(7,auto);
    }
    .places .rooms{
        grid-template-columns: 1fr 1fr;
    }
    .milestones .awards{
        grid-template-columns: 1fr 1fr;
    }
    .explainenemy .susys{
        grid-template-columns: 1fr 1fr;
    }
    .explainfriendly .crews{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 950px) {
    .platforms .availabilities{
        grid-template-columns: repeat(6,auto);
    }
}

@media only screen and (max-width: 850px) {
    .platforms .availabilities{
        grid-template-columns: repeat(5,auto);
    }
}

@media only screen and (max-width: 760px) {
    .platforms .availabilities{
        grid-template-columns: repeat(4,auto);
        
    }
    .milestones .awards{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 650px) {
    .platforms .availabilities{
        grid-template-columns: repeat(3,auto);
    }
}




input{
    width: 50px;
    height: 50px;
}

#teszt img{
    width: 500px;
}
#teszt{
    grid-area: kep;
    margin: auto;
    overscroll-behavior: contain;
    width: 500px;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}
#nemtom{
    display: grid;
    grid-template-areas: "gomb1 kep gomb2";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}